body {
  background-color: white;
}

.hidden {
  display: none;
}

#create-container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #2196f3;
}

#puzzle-collection {
  margin: 2rem;
  width: 80%;
  display: inline-block;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 18rem;
  min-height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px gray;
}

h1 {
  font-size: 42pt;
  margin: 0px;
}

h4 {
  margin: 0;
}

#like {
  cursor: pointer;
  float: right;
  text-align: right;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
}

/* .row::after { */
  /* content: ""; */
  /* display: table; */
  /* clear: both; */
/* } */


#users {
  float: right;
}

.add-puzzle-form {
  width: 80%
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 70%;
  font-size: 18px;
  margin: 3px;
}
