body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}

#header {
  display: flex;
  justify-content: center;
  background: #2196f3;
  height: 7rem;
  padding: 1rem;
}

#title-letters {
  color: rgb(255,195,50);
  font-weight: 800;
  letter-spacing: 2px;
}

#title-o {
  font-size: 38pt;
}

#splash {
  text-align: center;
  background: #2196f3;
}

#create-container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #2196f3;
}

#puzzle-collection {
  margin: 2rem;
  width: 80%;
  display: inline-block;
}

#users {
  float: right;
  width: 15%;
  background: azure;
}

.card {
  text-align: center;
  /* border: grey solid 1px; */
  padding: 1rem;
  width: 18rem;
  min-height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 42pt;
  margin: 0px;
}

h4 {
  margin: 0;
}

.white-text {
  color: white;
}

#like {
  cursor: pointer;
  float: right;
  text-align: right;
}

#edit-link {
  cursor: pointer;
  text-align: left;
  float: left;
}

#delete-link {
  cursor: pointer;
  text-align: right;
  float: right;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
}

.input-text {
  height: 3rem;
  width: 60%;
  font-size: 18px;
  margin: 6px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .row::after { */
/* content: ""; */
/* display: table; */
/* clear: both; */
/* } */

/* .add-puzzle-form {
width: 80%
} */
